body {
 width: 700px;
 margin: 15px auto;
 text-align: center;
}
#header{
 width: 100%;
 background-color:blue;
 padding:15px;
}
#menu {
 width: 100%;
 background: #b6ff00;
 padding: 5px 15px;
}
#menu li {
 display: inline-block;
 padding: 5px;
 list-style: none;
}