@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Alameda Roosevelt<br />
    Frente al complejo MC<br />
    <abbr title="Phone">P:</abbr>
    503 2257-7777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@asturias.com">Support@asturias.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@asturias.com">Marketing@asturias.com</a>
</address>