@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Seguros Asturias</h1>
    <p class="lead">La empresa de seguros con mas experiencia en el mercado, con mas de 30 años sirviendote para que tu viaje sea el mas seguro.</p>
    <p>@Html.ActionLink("Registrate", "Register", "Account", new { @class = "btn btn-primary" } )</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>10 años de experiencia</h2>
        <p>
            Mas de 10 años de experiencia en el mercado, ayudandote a que viajes con la mayor seguridad posible, 
            sin preocuparte de cualquier problema por que para eso estamos nosotros
        </p>
    </div>
    <div class="col-md-4">
        <h2>Obten mejores beneficios</h2>
        <p>
            Sacale el mejor provecho a nuestros servicios registrandote como cliente en nuestra pagina web, 
            donde podras agregar tus carros y asi poderle dar seguimiento a tus casos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Servicio de grua</h2>
        <p>
            Tenemos un servicio de gruas 24/7 para que sin importar donde vayas podras llamarnos y te ayudaremos a solucionar tus problemas.
        </p>
    </div>
</div>