@helper MenuItem(string action, string controller)
{    
    var mvcHandler = Context.CurrentHandler as System.Web.Mvc.MvcHandler;
    if (mvcHandler != null)
    {
        var url = new System.Web.Mvc.UrlHelper(mvcHandler.RequestContext);
        var routeData = mvcHandler.RequestContext.RouteData;
        var currentAction = routeData.Values["action"].ToString();
        var currentController = routeData.Values["controller"].ToString();
        var isCurrent = string.Equals(currentAction, action, StringComparison.InvariantCultureIgnoreCase) &&
                        string.Equals(currentController, controller, StringComparison.InvariantCultureIgnoreCase);

        <li class="@(isCurrent ? "active" : "")">
            <a href="@url.Action(action, controller)">@action.ToString()</a>
        </li>
    }
}