<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="autosConnectionString" connectionString="Data Source=PC06-SALA1;Initial Catalog=autos;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
</configuration>