@model IEnumerable<SA120974.Models.Auto>

@{
    ViewBag.Title = "Lista Autos";
    var grid = new WebGrid(source: Model, columnNames: new[]
    { "placa", "modelo", "color", "marca" }, defaultSort: "placa");
    grid.Pager(WebGridPagerModes.All);
}

<h2>Lista Autos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<div class="table-responsive">
    @grid.GetHtml(
        tableStyle: "webgrid-table table table-hover",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
            grid.Column(columnName: "placa", header: "Placa"),
            grid.Column(columnName: "modelo", header: "Modelo"),
            grid.Column(columnName: "color", header: "Color"),
            grid.Column(columnName: "marca", header: "Marca"),
            grid.Column(columnName: "Opciones", format: (item) =>
            {
                var details = Html.ActionLink("Detalles", "Details", new { id = item.id });
                var edit = Html.ActionLink("Editar", "Edit", new { id = item.id });
                var remove = Html.ActionLink("Eliminar", "Delete", new { id = item.id });
                var options = Html.Raw(details + " | " + edit + " | " + remove);
                return options;
            })
        )
    )
</div>
