@model IEnumerable<SA120974.Models.Incidente>

@{
    ViewBag.Title = "Lista Incidentes";
    var grid = new WebGrid(source: Model, columnNames: new[]
    { "lugar", "descripcion", "imagen" }, defaultSort: "lugar");
    grid.Pager(WebGridPagerModes.All);
}

<h2>Lista Incidentes</h2>

@if (User.IsInRole("Administrador"))
{
    <p>
        @Html.ActionLink("Crear Nuevo", "Create")
    </p>
    <div class="table-responsive" style="font-family: Arial; padding: 20px;">
        @grid.GetHtml(
            tableStyle: "webgrid-table table table-hover",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            columns: grid.Columns(
                grid.Column(columnName: "lugar", header: "Lugar"),
                grid.Column(columnName: "descripcion", header: "Descripción"),
                grid.Column(columnName: "imagen", header: "Imagen", format: (item) =>
                {
                    var base64 = Convert.ToBase64String(item.imagen);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    var img = Html.Raw("<img src = '" + imgSrc + "' width='100px' height='100px' />");
                    return img;
                }),
                grid.Column(columnName: "Opciones", format: (item) =>
                {
                    var details = Html.ActionLink("Detalles", "Details", new { id = item.id });
                    var edit = Html.ActionLink("Editar", "Edit", new { id = item.id });
                    var remove = Html.ActionLink("Eliminar", "Delete", new { id = item.id });
                    var options = Html.Raw(details + " | " + edit + " | " + remove);
                    return options;
                })
            )
        )
    </div>
}
else
{
    <div class="table-responsive" style="font-family: Arial; padding: 20px;">
        @grid.GetHtml(
            tableStyle: "webgrid-table table table-hover",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            columns: grid.Columns(
                grid.Column(columnName: "lugar", header: "Lugar"),
                grid.Column(columnName: "descripcion", header: "Descripción"),
                grid.Column(columnName: "imagen", header: "Imagen", format: (item) =>
                {
                    var base64 = Convert.ToBase64String(item.imagen);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    var img = Html.Raw("<img src = '" + imgSrc + "' width='100px' height='100px' />");
                    return img;
                }),
                grid.Column(columnName: "Opciones", format: (item) =>
                {
                    var details = Html.ActionLink("Detalles", "Details", new { id = item.id });
                    return details;
                })
            )
        )
    </div>
}

