USE [master]
GO
/****** Object:  Database [asturias] ******/
CREATE DATABASE asturias
GO
/****** Object:  Table [dbo].[autos] ******/
CREATE TABLE [dbo].[autos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[placa] [varchar](10) NOT NULL,
	[modelo] [varchar](45) NOT NULL,
	[color] [varchar](40) NOT NULL,
	[marca] [varchar](45) NOT NULL
)
GO
/****** Object:  Table [dbo].[autosincidente] ******/
CREATE TABLE [dbo].[autosincidente](
	[id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[idauto] [int] NULL,
	[idincidente] [int] NULL,
)

GO
/****** Object:  Table [dbo].[incidente] ******/
CREATE TABLE [dbo].[incidente](
	[id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[imagen] [image],
	[lugar] [varchar](50) NULL,
	[descripcion] [varchar](max) NULL,
)

GO
SET IDENTITY_INSERT [dbo].[autos] ON 

GO
INSERT [dbo].[autos] ([id], [placa], [modelo], [color], [marca]) VALUES (1, N'P-424-412', N'4Runner', N'Blanco', N'Toyota')
GO
INSERT [dbo].[autos] ([id], [placa], [modelo], [color], [marca]) VALUES (2, N'P-544-655', N'Yaris', N'Rojo', N'Toyota')
GO
INSERT [dbo].[autos] ([id], [placa], [modelo], [color], [marca]) VALUES (3, N'P-656-432', N'Sentra', N'Gris', N'Nissan')
GO
SET IDENTITY_INSERT [dbo].[autos] OFF
GO
SET IDENTITY_INSERT [dbo].[autosincidente] ON 

GO
INSERT [dbo].[autosincidente] ([id], [idauto], [idincidente]) VALUES (1, 1, 3)
GO
INSERT [dbo].[autosincidente] ([id], [idauto], [idincidente]) VALUES (2, 2, 3)
GO
INSERT [dbo].[autosincidente] ([id], [idauto], [idincidente]) VALUES (3, 6, 8)
GO
SET IDENTITY_INSERT [dbo].[autosincidente] OFF
GO
SET IDENTITY_INSERT [dbo].[incidente] ON 
GO

SET IDENTITY_INSERT [dbo].[incidente] OFF
GO
ALTER TABLE [dbo].[autosincidente]  WITH CHECK ADD  CONSTRAINT [FK_autos] FOREIGN KEY([idauto])
REFERENCES [dbo].[autos] ([id])
GO
ALTER TABLE [dbo].[autosincidente] CHECK CONSTRAINT [FK_autos]
GO
ALTER TABLE [dbo].[autosincidente]  WITH CHECK ADD  CONSTRAINT [FK_incidentes] FOREIGN KEY([idincidente])
REFERENCES [dbo].[incidente] ([id])
GO
ALTER TABLE [dbo].[autosincidente] CHECK CONSTRAINT [FK_incidentes]
GO
USE [master]
GO
